<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>E-Policy</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="policy-summary">
  <div class="content">
    <div class="content-header">
      <div class="logo-section">
        <img src="/images/etiqa-logo.png" />
      </div>
      <div class="field">
        <p class="label">Date</p>
        <p>: <b><%= date %></b></p>
      </div>
      <div class="field">
        <p class="label">Name</p>
        <p>: <b><%= name %></b></p>
      </div>
      <div class="field">
        <p class="label">Address</p>
        <p>: <b><%= address %></b></p>
      </div>
    </div>
    <div class="content-body">
      <h3>WELCOME TO THE ETIQA FAMILY</h3>
      <div class="field">
        <p class="label">Policy No </p>
        <p>: <b><%= policyNo %></b></p>
      </div>
      <div class="field">
        <p class="label">Product Name</p>
        <p>: <b><%= productName %></b></p>
      </div>
      <div class="field">
        <p class="label">Period of Insurance</p>
        <p>: <b><%= periodStart %> To <%= periodEnd %></b></p>
      </div>
      <hr />
      <p>
        We are pleased to extend our warmest welcome to you for being a part of our family.
      </p>
      <p>We enclose herewith the following document for your action:-</p>
      <h3>Policy Schedule</h3>
      <p>This important document summarizes the details of your policy and we suggest that you keep this document for
        reference. Kindly be informed that the details stated in the policy schedule is based on the information you
        have declared to us at the time of application. We advise that you check the document carefully and if there is
        any discrepancy, please inform us immediately. Our consultant will be glad to serve you.</p>
      <p>For any enquiries on the above, claims or any of our products, feel free to call Etiqa Cambodia Headquarters at
        XXXXXXXXX or e-mail to us at <a href="mailto:etiqa@etiqa.com.kh">etiqa@etiqa.com.kh</a> for fast and efficient
        service. Again, we welcome
        you to the Etiqa family.</p>
      <br />
      <p>Thank you.</p>
      <br />
      <p class="no-margin">Yours sincerely,</p>
      <p class="no-margin" style="width: 150px;"><b>Etiqa General Insureance (Cambodia) Plc</b></p>
    </div>
  </div>
  <div class="footer">
    <div class="footer-left">
      <h5>Etiqa General Insurance Berhad <span>(9557T)</span></h5>
      <p>(Formerly known as Etiqa Insurance Berhad)</p>
      <p>(Licensed under Financial Services Act 2013 and regulated by Bank Negara Malaysia)</p>
      <p>Dataran Maybank, No.1, Jalan Maarof, 59000, Kuala Lumpur</p>
      <div class="footer-contact">
        <p>T +603 2297 3888</p>
        <p>F +603 2297 3800</p>
        <p>E info@etiqa.com.my</p>
        <h5>www.etiqa.com.my</h5>
      </div>
    </div>
    <div class="footer-right">
      <h5>Maybank Group Customer Care 1300 88 6688</h5>
      <div class="logo-wrap">
        <p>Ahli Kumpulan</p>
        <img src="/images/maybank.jpg" />
      </div>
    </div>
  </div>
</body>

</html>